div.fadeIn span{
    font-size:1.5rem;
    padding-right: 5px;
    opacity: 0;
    transform: translateY(30px);
    animation: fadeIn 0.5s ease-out forwards;
    display:inline-block;
  }
  @keyframes fadeIn{
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }