body{
    box-sizing: border-box;


}
#root{
    width:100% !important;
    overflow: hidden;
}
.app{
    width:100vw;
    display: flex;
    flex-direction: column;
    flex-direction: row;
    background-color: #555;
    min-height: 100vh;
    position: relative;

}

.content-wrapper{
    width:100%;
}
@media screen and (min-width:688px){
   span{
       font-size:40px;
   }
  
}